@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

html,
body {
	margin: 0;
}

html,
body,
button,
input,
select,
a {
	font-family: "Dosis", sans-serif;
}

.App {
	text-align: center;
}
